body {
  background-color: black;
  color: white;
}

@font-face {
      font-family: 'BaseMono';
      src: url('BaseMonoWideThin_6014.ttf') format('truetype');
    }

.h1 {
    font-family: 'BaseMono';
    margin: 1.5em 1.5em 1em 1.5em;
    display: inline-block;
    }

a:visited{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}